*.pyc
*~
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.project
.pub
.pydevproject
.checkstyle
cscope.*
Session.vim
tags
Thumbs.db
v8.log
/build/util/LASTCHANGE*
/build/linux/bin/eu-strip
/build/win_toolchain.json
/buildtools/
# The Chrome OS build creates a /c symlink due to http://crbug.com/54866.
# TODO(vtl): Check if this is still true.
/c
/dart/
/dart-pub-cache/
/native_client/
/out/
/out_*/
/sdch/open-vcdiff/
/testing/gmock/
/testing/gtest/
/third_party/android_tools/
/third_party/angle/
/third_party/appurify-python/
/third_party/bison/
/third_party/boringssl/src/
/third_party/brotli/src/
/third_party/colorama/src/
/third_party/dart-sdk/
/third_party/dejavu-fonts-ttf-2.34/ttf/*.ttf
/third_party/fontconfig/src/
/third_party/freetype/
/third_party/freetype2/src/
/third_party/go/tool/
/third_party/gperf/
/third_party/icu/
/third_party/jsr-305/src/
/third_party/libc++/trunk/
/third_party/libc++abi/trunk/
/third_party/libjpeg_turbo/
/third_party/llvm/
/third_party/llvm-build/
/third_party/lss/
/third_party/junit/src/
/third_party/mesa/src/
/third_party/mockito/src/
/third_party/nss/
/third_party/pdfium/
/third_party/pywebsocket/src/
/third_party/requests/src/
/third_party/robolectric/src/
/third_party/sfntly/cpp/
/third_party/skia/
/third_party/smhasher/src/
/third_party/yasm/binaries/
/third_party/yasm/source/patched-yasm/
/tools/grit/
/v8/
# dart packages directories and related.
/mojo/dart/mojom/packages
/mojo/dart/mojom/bin/packages
/mojo/dart/apptest/packages
/sky/examples/hello_world/packages
/sky/examples/stocks/packages
/sky/sdk/packages/mojo/packages
/sky/sdk/packages/mojo/pubspec.lock
/sky/sdk/packages/sky/packages
/sky/sdk/packages/sky/pubspec.lock
